#
# APPLICATION
#
NODE_ENV=test
MARKETPLACE_VERSION=0.0.1.0

APP_NAME=dapp-shell-test
APP_HOST=http://localhost
APP_URL_PREFIX=/api
APP_PORT=3100

RPCUSER=test
RPCPASSWORD=test
RPCHOSTNAME=localhost
MAINNET_PORT=52738
TESTNET_PORT=52935

JASMINE_TIMEOUT=100000

#
# MARKETPLACE
#
DEFAULT_MARKETPLACE_NAME=DEFAULT
DEFAULT_MARKETPLACE_PRIVATE_KEY=2Zc2pc9jSx2qF5tpu25DCZEr1Dwj8JBoVL5WP4H1drJsX9sP4ek
DEFAULT_MARKETPLACE_ADDRESS=pmktyVZshdMAQ6DPbbRXEFNGuzMbTMkqAA
PAID_MESSAGE_RETENTION_DAYS=4

# TODO: generate these like a cookie file
MARKET_RPC_USER=test
MARKET_RPC_PASSWORD=test

#
# LOGGING
#
LOG_LEVEL=debug
LOG_ADAPTER=winston

#
# API Info
#
API_INFO_ENABLED=true
API_INFO_ROUTE=/info

#
# CLI
#
CLI_ENABLED=true
CLI_ROUTE=/cli

#
# Swagger Documentation
#
SWAGGER_ENABLED=true
SWAGGER_ROUTE=/docs
SWAGGER_FILE=/src/api/swagger.json

#
# Monitor
#
MONITOR_ENABLED=true
MONITOR_ROUTE=/status

#
# DATABASE
#
DB_CLIENT=sqlite3
DB_CONNECTION=./data/marketplace-test.db

#
# Knex
#
DB_POOL_MIN=2
DB_POOL_MAX=10
DB_MIGRATION_DIR=./src/database/migrations
DB_MIGRATION_TABLE=version
DB_SEEDS_DIR=./src/database/seeds


# PriceTicker
#
DATA_CHECK_DELAY=60

#
# CURRENCY_PRICE
#
CHASING_COINS_API=https://chasing-coins.com/api/v1/convert
CHASING_COINS_API_DELAY=60
