.
node_modules
npm-debug.log
data/database/*
data/particl1
data/particl2
data/app1*
data/app2*
data/gui*
data/tests
data/uploads
data/.env
data/marketplace.log
dist
node_modules
.semaphore-cache
.DS_Store
.circleci
.idea
.Trash-0
.vscode
.git
