/* ---- Imports ---- */

@font-face {
    font-family: 'Inter_UI';
    font-style:  normal;
    font-weight: 400;
    src: url("../fonts/Inter-UI-Regular.woff2") format("woff2"),
         url("../fonts/Inter-UI-Regular.woff") format("woff");
}
@font-face {
    font-family: 'Inter_UI';
    font-style:  normal;
    font-weight: 700;
    src: url("../fonts/Inter-UI-Bold.woff2") format("woff2"),
         url("../fonts/Inter-UI-Bold.woff") format("woff");
}

/* ---- Variables ---- */

:root {
    /* colors */
    --primary: #45d492;
    --secondary: #1597dd;
    --tertiary: #5949a7;
    --success: #98c807;
    --alert: #ff542c;
    --warning: #ffce00;
    --text: #212727;
    --text-muted: #343838;
    --text-darker: #181d1d;
    --bg: #fff;
    --bg-muted: #f1f1f1;
    --bg-darker: #d6d3d3;
    /* typography */
    --font: "Inter_UI", sans-serif;
}

/* ---- General Styles ---- */

html,
body,
.content,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    font-family: var(--font);
    font-size: 15px;
}

.content p,
.content li,
.content dt,
.content dd {
    line-height: 1.5;
}

.content h1 {
    font-size: 26px;
    font-weight: 700;
    padding-top: 0.9em;
    border-bottom: 0;
    border-top: 1px solid var(--bg-darker);
    background-image: linear-gradient(to bottom, var(--bg), var(--bg-muted));
}
.content h2 {
    font-size: 20px;
    background: none;
    border-top: 1px solid var(--bg-darker);
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.content h3 {
    font-size: 17px;
    margin-top: 0.8em;
    /*margin: 0px;*/
}

.content h2 + div + h3 {
    font-size: 17px;
    margin-top: 0.8em;
    /*margin: 0px;*/
}
.content aside + div + h3 {
    font-size: 17px;
    margin-top: 0.8em;
    /*margin: 0px;*/
}

.content div + h3 {
    margin-top: 2.8em;
}

.content h4 {
    font-size: 15px;
}

.content aside {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.content blockquote pre {
    width: 100%;
    padding-left: 10px;
    padding-top: 0.8em;
}

/* ---- Layout ---- */

.page-wrapper { /* light content middle section */
    background: var(--bg-muted);
}
